<nav id="nav">
    <li>
        <div>
            Work
        </div>
        <div class="hoverbg">
        </div>
    </li>
    <li>
        <div>
            Programming Languages
        </div>
        <div class="hoverbg">
        </div>
    </li>
    <li class="resume-btn">
        <div>
            Resume
        </div>
        <div class="hoverbg">
        </div>
    </li>
    <li>
        <div>
            Blog
        </div>
        <div class="hoverbg">
        </div>
    </li>
</nav>
