<nav id="nav">
    <li class="work-btn">
        <div>
            Work
        </div>
        <div class="hoverbg">
        </div>
    </li>
    <li>
        <div>
            Projects
        </div>
        <div class="hoverbg">
        </div>
    </li>
    <li class="resume-btn">
        <div>
            <a href="joe_santos_resume.pdf">Resume</a>
        </div>
        <div class="hoverbg">
        </div>
    </li>
    <li>
        <div>
            <a href="blog">Blog</a>
        </div>
        <div class="hoverbg">
        </div>
    </li>
</nav>
