@import "https://fonts.googleapis.com/css?family=Amatic+SC|Amatica+SC|Dancing+Script";
body,
html {
  height: 100%;
}

#app,
.app {
  height: 100%;
}

.MenuComp {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 500px;
  padding: 0 30px;
  background: yellow;
  font-family: 'Amatic SC', cursive;
  -webkit-transition: all 1s;
          transition: all 1s;
  z-index: 1000;
}
.MenuComp.start {
  width: 350px;
}
.MenuComp.early {
  width: 100%;
}
.MenuComp .upperbox {
  width: 100%;
  height: 140px;
  overflow: hidden;
  display: none;
  margin-top: 50px;
}
.MenuComp .upperbox .title {
  font-size: 60px;
  margin-bottom: 0;
}
.MenuComp .upperbox.start {
  display: block;
}
.MenuComp .upperbox.start div {
  -webkit-animation-name: nameup;
          animation-name: nameup;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
          animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation {
  display: none;
}
.MenuComp .navigation a {
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  color: #000;
  display: block;
  cursor: pointer;
}
.MenuComp .navigation.start {
  display: block;
}
.MenuComp .navigation.start a:nth-child(1) {
  opacity: 0;
  -webkit-transition-delay: 1 s;
          transition-delay: 1 s;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 0.125s;
          animation-delay: 0.125s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
          animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation.start a:nth-child(2) {
  opacity: 0;
  -webkit-transition-delay: 2 s;
          transition-delay: 2 s;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
          animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation.start a:nth-child(3) {
  opacity: 0;
  -webkit-transition-delay: 3 s;
          transition-delay: 3 s;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 0.375s;
          animation-delay: 0.375s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
          animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation.start a:nth-child(4) {
  opacity: 0;
  -webkit-transition-delay: 4 s;
          transition-delay: 4 s;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
          animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation.start a:nth-child(5) {
  opacity: 0;
  -webkit-transition-delay: 5 s;
          transition-delay: 5 s;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-delay: 0.625s;
          animation-delay: 0.625s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
          animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}

.HomeComp {
  width: 100%;
  padding-left: 350px;
  background: #00ff00 url("../img/joeoutside.jpg") no-repeat fixed top;
  background-size: cover;
  height: 100%;
}

.WorkComp {
  width: 100%;
  padding: 25px 15px 25px 365px;
}
.WorkComp p strong {
  margin-right: 3px;
}

@-webkit-keyframes example {
  from {
    padding-left: -60px;
    opacity: 0;
  }
  to {
    padding-left: 0px;
    opacity: 1;
  }
}

@keyframes example {
  from {
    padding-left: -60px;
    opacity: 0;
  }
  to {
    padding-left: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes nameup {
  from {
    display: none;
    position: relative;
    -webkit-transform: translate(0px, 500px);
            transform: translate(0px, 500px);
  }
  to {
    display: block;
    position: relative;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes nameup {
  from {
    display: none;
    position: relative;
    -webkit-transform: translate(0px, 500px);
            transform: translate(0px, 500px);
  }
  to {
    display: block;
    position: relative;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
