@import "https://fonts.googleapis.com/css?family=Amatic+SC|Amatica+SC|Dancing+Script";
body,
html {
  height: 100%;
}

#app,
.app {
  height: 100%;
}

.MenuComp {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  background: yellow;
  font-family: 'Amatic SC', cursive;
  transition: all 1s;
  z-index: 1000;
}
.MenuComp.start {
  width: 350px;
}
.MenuComp.early {
  width: 100%;
}
.MenuComp .upperbox {
  width: 100%;
  height: 140px;
  overflow: hidden;
  display: none;
  margin-top: 50px;
}
.MenuComp .upperbox .title {
  font-size: 60px;
  margin-bottom: 0;
}
.MenuComp .upperbox.start {
  display: block;
}
.MenuComp .upperbox.start div {
  animation-name: nameup;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation {
  display: none;
}
.MenuComp .navigation a {
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  color: #000;
  display: block;
  cursor: pointer;
}
.MenuComp .navigation.start {
  display: block;
}
.MenuComp .navigation.start a:nth-child(1) {
  opacity: 0;
  transition-delay: 1 s;
  animation-name: example;
  animation-duration: .5s;
  animation-delay: 0.125s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation.start a:nth-child(2) {
  opacity: 0;
  transition-delay: 2 s;
  animation-name: example;
  animation-duration: .5s;
  animation-delay: 0.25s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation.start a:nth-child(3) {
  opacity: 0;
  transition-delay: 3 s;
  animation-name: example;
  animation-duration: .5s;
  animation-delay: 0.375s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation.start a:nth-child(4) {
  opacity: 0;
  transition-delay: 4 s;
  animation-name: example;
  animation-duration: .5s;
  animation-delay: 0.5s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .navigation.start a:nth-child(5) {
  opacity: 0;
  transition-delay: 5 s;
  animation-name: example;
  animation-duration: .5s;
  animation-delay: 0.625s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.44, 0.27, 0.64, 0.92);
}
.MenuComp .mobile-menu {
  display: none;
}

.HomeComp {
  width: 100%;
  padding-left: 350px;
  background: #00ff00 url("../img/joe.png") no-repeat fixed top;
  background-size: cover;
  height: 100%;
}

.WorkComp {
  width: 100%;
  padding: 25px 15px 25px 365px;
}
.WorkComp p strong {
  margin-right: 3px;
}

.ProjectsComp {
  padding: 25px 15px 25px 365px;
}

@keyframes example {
  from {
    padding-left: -60px;
    opacity: 0;
  }
  to {
    padding-left: 0px;
    opacity: 1;
  }
}
@keyframes nameup {
  from {
    display: none;
    position: relative;
    transform: translate(0px, 500px);
  }
  to {
    display: block;
    position: relative;
    transform: translate(0px, 0px);
  }
}
@media only screen and (max-width: 768px) {
  .MenuComp {
    width: 100%;
    overflow: hidden;
  }
  .MenuComp.start {
    width: 100%;
  }
  .MenuComp.open-menu {
    min-height: 100%;
  }
  .MenuComp.close-menu {
    height: 50px;
    max-height: 50px !important;
  }
  .MenuComp .upperbox {
    display: none;
  }
  .MenuComp .upperbox.start {
    display: none;
  }
  .MenuComp .navigation.start {
    display: none;
  }
  .MenuComp .mobile-menu {
    display: block;
    position: relative;
  }
  .MenuComp .mobile-menu h1 {
    margin: 5px 0;
  }
  .MenuComp .mobile-menu .fa-times, .MenuComp .mobile-menu .fa-bars {
    position: absolute;
    right: 0;
    top: 0px;
    font-size: 20px;
    padding: 7px 12px;
    color: black;
    border-radius: 3px;
    border: 1px solid #000;
    cursor: pointer;
  }
  .MenuComp .mobile-menu a {
    cursor: pointer;
    color: black;
    font-size: 34px;
    display: block;
  }

  .HomeComp, .WorkComp, .ProjectsComp {
    padding: 50px 15px 50px 15px;
  }
}

/*# sourceMappingURL=main.css.map */
