<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
        <script type="text/javascript" src="/js/jpreloader.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>


</head>

<body>

    <% include ../partials/nav.ejs %>
        <div class="loaderr">
          <div class="loader">Loading...</div>
        </div>
        <div class="contain">


            <div id="main">
                <div id="blueDiv">
                    <h1>Joe Santos Garcia2</h1>
                </div>
            </div>

            <div class="work active">
                my work
            </div>

            <div class="resume">
                resume
            </div>

        </div>

</body>

<script>
    $(window).load(function() {


    });
    $(document).ready(function() {
        $.ajax({
            type: 'get',
            url: 'test.html',
            beforeSend: function() {
                $('#image').show();
            },
            complete: function() {
                $('#image').hide();
            },
            // success: function(html) {
            //     $('.info').append(html);
            // },
            success: function(response) {
                // response = data which has been received and passed on to the 'success' function.
                $('#main').html(response);
            }
        });

    });

    $(window).load(function(e) {
        // $(".loader").fadeOut("slow");
        $(".loaderr").addClass('active');

        function displaynone() {
            $(".loaderr").css('display', 'none');
        }
        setTimeout(displaynone, 1000);


        setTimeout(nameFade, 1000);

        function nameFade() {
            $('#blueDiv h1').addClass('active');
        }
        console.log('swag');
        setTimeout(nameFade, 500);




        tl = new TimelineLite();

        var nav = document.getElementById("nav");
        // TweenLite.to(nav, .2, {
        //     borderBottomColor: "#90e500",
        //     color: "white"
        // });
        // TweenLite.to(nav, 1, {
        //     top: "60%",
        //     borderBottomColor: "#90e500",
        //     color: "white",
        //     opacity: 0
        // });

        tl.fromTo(nav, 2, {
            borderBottomColor: "#90e500",
            color: "white",
            top: "-250px",
            opacity: 0
        }, {
            top: "60%",
            borderBottomColor: "#90e500",
            color: "white",
            opacity: 1
        });

        (function pages() {
            this.work = $('.work');
            this.super = 'super';
            console.log(pages.work);
            console.log(pages.super);
        })();
        $(document).on('click', '.resume-btn', function() {
            console.log('swags');
            $('.resume').addClass('active');
        })


    });

    $(document).ready(function() {


    });
</script>

</html>
