body,
html {
    height: 100%;
}
@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Amatica+SC|Dancing+Script';
#app,
.app {
    height: 100%;
}
.MenuComp {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 100%;
    min-height: 500px;
    padding: 0 20px;
    background: yellow;
    font-family: 'Amatic SC', cursive;
    transition: all 1s;
    &.start{
      width: 100%;
    }
    .upperbox{
      width: 100%;
      height: 140px;
      overflow: hidden;
      div{

      }
      .title {
          font-size: 60px;
          margin-bottom: 0;
      }

    }
    .upperbox.start{
      div{
        animation-name: nameup;
        animation-duration: 1s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.44,.27,.64,.92);
      }
    }
    nav.start {
      display: block;
    }
    nav.start {
      display: block;
        a {
            font-family: 'Dancing Script', cursive;
            font-size: 28px;
            color: #000;
            display: block;
            cursor: pointer;
        }
        @for $i from 1 through 4 {
            a:nth-child(#{$i}) {
                opacity: 0;
                transition-delay: $i s;
                animation-name: example;
                animation-duration: .8s;
                animation-delay: $i * 0.325s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.44,.27,.64,.92);
            }
        }
    }
}
@keyframes example {
    from {
        padding-left: -60px;
        opacity: 0;
    }
    to {
        padding-left: 0px;
        opacity: 1;
    }
}
@keyframes nameup {
    from {
      position: relative;
      transform: translate(0px,500px);
    }
    to {
      position: relative;
      transform: translate(0px,0px);
    }
}
