body,
html {
    height: 100%;
}
@import 'https://fonts.googleapis.com/css?family=Amatic+SC|Amatica+SC|Dancing+Script';
#app,
.app {
    height: 100%;
}
.MenuComp {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 500px;
    padding: 0 30px;
    background: yellow;
    font-family: 'Amatic SC', cursive;
    transition: all 1s;
    z-index: 1000;
    &.start{
      width: 350px;
    }
    &.early{
      width: 100%;
    }
    .upperbox{
      width: 100%;
      height: 140px;
      overflow: hidden;
      display: none;
      margin-top: 50px;
      .title {
          font-size: 60px;
          margin-bottom: 0;
      }

    }
    .upperbox.start{
      display: block;
      div{

        animation-name: nameup;
        animation-duration: 1s;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.44,.27,.64,.92);
      }
    }
    .navigation{
      display: none;
      a {
          font-family: 'Dancing Script', cursive;
          font-size: 28px;
          color: #000;
          display: block;
          cursor: pointer;
      }
      &.start {
      display: block;
        @for $i from 1 through 4 {
            a:nth-child(#{$i}) {
                opacity: 0;
                transition-delay: $i s;
                animation-name: example;
                animation-duration: .5s;
                animation-delay: $i * 0.125s;
                animation-direction: normal;
                animation-fill-mode: forwards;
                animation-timing-function: cubic-bezier(.44,.27,.64,.92);
            }
        }
    }
  }
}

.HomeComp{
  width: 100%;
  padding-left: 400px;
  background: #00ff00 url("../img/joeoutside.jpg") no-repeat fixed top;
  background-size: cover;
  height: 100%;
}

.WorkComp{
  width: 100%;
  padding: 25px 15px 25px 415px;


}
@keyframes example {
    from {
        padding-left: -60px;
        opacity: 0;
    }
    to {
        padding-left: 0px;
        opacity: 1;
    }
}
@keyframes nameup {
    from {
      display: none;
      position: relative;
      transform: translate(0px,500px);
    }
    to {
      display: block;
      position: relative;
      transform: translate(0px,0px);
    }
}
