
html {
  font-size: 16px;
    height: 100%;
    width: 100%;
    background: url(/img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    background-image: linear-gradient(to bottom, rgba(61, 22, 114, 1) 0%, rgba(38, 33, 61, 0.52) 100%), url(/img/bg.jpg);
}
body {
    background: transparent;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.contain{
  height: 100%;
  width: 100%;
  background: url(/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: bottom;
  background-image: linear-gradient(to bottom, rgba(61, 22, 114, 1) 0%, rgba(38, 33, 61, 0.52) 100%), url(/img/bg.jpg);
}
#main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
#blueDiv {
    color: #fff;
    overflow: hidden;
}
#blueDiv h1 {
    font-size: 70px;
    font-family: 'Poiret One', cursive;
    position: relative;
    opacity: 0;
    -ms-transform: translate(0, 100px);
    /* IE 9 */
    -webkit-transform: translate(0, 100px);
    /* Safari */
    transform: translate(0, 100px);
    transition: transform 1s, opacity 2s;
}
#blueDiv h1.active {
    position: relative;
    -ms-transform: translate(0,0); /* IE 9 */
   	-webkit-transform: translate(0,0); /* Safari */
    transform: translate(0,0);
    opacity: 1;
}
nav{
  position: absolute;
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  -ms-transform: translate(0,20px); /* IE 9 */
  -webkit-transform: translate(0,20px); /* Safari */
  transform: translate(0,20px);
  transition: transform .4s, opacity .5s;
  opacity: 0;
}
nav.active{
  -ms-transform: translate(0,200px); /* IE 9 */
  -webkit-transform: translate(0,200px); /* Safari */
  transform: translate(0,200px);
  transition: transform .4s, opacity 2s;
}
nav li{
  position: relative;
  display: inline-block;
  border: 2px solid #fff;
  padding: 10px 15px;
  list-style: none;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
  text-align: center;

}
nav li:hover {
  color: rgba(61, 22, 114, 1);
}
nav li .hoverbg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -230;
  background: #fff;
  width: 100%;
  height: 100%;
  -ms-transform: translate(0,200px); /* IE 9 */
  -webkit-transform: translate(0,200px); /* Safari */
  transform: translate(0,200px);
  transition: transform .4s, opacity 2s;
}

nav li:hover .hoverbg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -230;
  width: 100%;
  height: 100%;
  -ms-transform: translate(0,0); /* IE 9 */
  -webkit-transform: translate(0,0); /* Safari */
  transform: translate(0,0);
}
.work-container {
  font-family: 'Source Sans Pro', sans-serif;
  h1{
    font-size: 60px;
    font-weight: 100;
  }
  .box{
    padding: 50px 0;
    cursor: pointer;
    transition: background 1s;
    &:hover{
      background: #efefef;
    }
  }

}

.work{
  padding-top: 70px;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index: -101;
  background: blue;
  -ms-transform: translate(0,100%); /* IE 9 */
  -webkit-transform: translate(0,100%); /* Safari */
  transform: translate(0,100%);
  transition: transform 1.5s, z-index 1s;
  overflow: auto;
}
.work.active{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index: 101;
  background: #fff;
  -ms-transform: translate(0,0); /* IE 9 */
  -webkit-transform: translate(0,0); /* Safari */
  transform: translate(0,0);
}

.resume{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index: -101;
  background: blue;
  -ms-transform: translate(0,100%); /* IE 9 */
  -webkit-transform: translate(0,100%); /* Safari */
  transform: translate(0,100%);
  transition: transform 1.5s, z-index 1s;
}
.resume.active{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  z-index: 101;
  background: #fff;
  -ms-transform: translate(0,0); /* IE 9 */
  -webkit-transform: translate(0,0); /* Safari */
  transform: translate(0,0);
}
.loaderr{
  position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #3d1672;
  opacity: 1;
  transition: opacity 1s;
}
.loaderr.active{
  opacity: 0;
}


.loader {
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.2em;

  &::before, &::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    animation: load .7s infinite alternate ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

@keyframes load {
  0% { left: 0; height: 30px; width: 15px }
  50% { height: 8px; width: 40px }
  100% { left: 235px; height: 30px; width: 15px}
}



@media screen and (max-width: 480px) {
    #blueDiv h1{
      font-size: 24px;
    }
}
